{% extends 'base.html' %}
{% load i18n %}

{% block title %}My Records{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-body">
            <form action="?page=1" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="col-md-2">
                        <label class="control-label">{{ field.label }}</label>
                    </div>
                    <div class="col-md-3">
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="col-md-2">
                    <button class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <th width="35%"><a href="?sort=artist&page={{ page }}&search={{ search }}&search_by={{ search_by }}">Artist {%if sort == 'artist' %}<span class="caret"></span>{% endif %}</a></th>
                    <th width="25%"><a href="?sort=title&page={{ page }}&search={{ search }}&search_by={{ search_by }}">Title {%if sort == 'title' %}<span class="caret"></span>{% endif %}</a></th>
                    <th width="20%"><a href="?sort=label&page={{ page }}&search={{ search }}&search_by={{ search_by }}">Label {%if sort == 'label' %}<span class="caret"></span>{% endif %}</a></th>
                    <th width="10%"><a href="?sort=catalog_no&page={{ page }}&search={{ search }}&search_by={{ search_by }}">Catalog # {%if sort == 'catalog_no' %}<span class="caret"></span>{% endif %}</a></th>
                </thead>
                <tbody>
                    {% if records %}
                        {% for record in records %}
                            <tr>
                                <td>{{ record.artist }}</td>
                                <td>{{ record.title }}</td>
                                <td>{{ record.label }}</td>
                                <td>{{ record.catalog_no }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4">No records found!</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    {% include 'records/partials/pagination.html' %}
{% endblock %}