{% if records.has_other_pages %}
    <div class="text-center">
        <ul class="pagination">
            {% if records.has_previous %}
                <li><a href="?page={{ records.previous_page_number }}&search={{ search}}&search_by={{search_by}}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}

            {% for i in page_range %}
                {% if i > 0 %}
                    {% if records.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        {% if i == '...' %}
                            <li><a class="disabled">{{ i }}</a></li>
                        {% else %}
                            <li><a href="?page={{ i }}&search={{ search}}&search_by={{search_by}}">{{ i }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if records.has_next %}
                <li><a href="?page={{ records.next_page_number }}&search={{ search}}&search_by={{search_by}}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    </div>
{% endif %}